<div class="container">
    <h2>მომხმარებლის პარამეტრები:</h2>
    <form  #form="ngForm" (ngSubmit)="onSubmit(form)" >
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">სახელი</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="userSettings.name" name="firstName" required #nameField="ngModel">
           
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">გვარი</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="" [(ngModel)]="userSettings.surname" name="lastName">
        
          </div>
        </div>

      

        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(ნებაყოფლობითი)</span></label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com" [(ngModel)]="userSettings.email" name="email">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

     

       

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="country">ქვეყანა</label>
            <select class="custom-select d-block w-100" id="country" required="" [(ngModel)]="userSettings.country" name="country">
              <option value="">აირჩიეთ...</option>
              <option>საქართველო</option>
              <option>შეერთებული შტატები</option>
              <option>შვედეთი</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
       
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="agree" [(ngModel)]="userSettings.agree" name="agree">
          <label class="custom-control-label" for="agree">გავეცანი წესებს და თანახმა ვარ</label>
        </div>
        <hr class="mb-4">


        <button class="btn btn-primary btn-lg btn-block" type="submit">გაგზავნა</button>
      </form>
</div>

<h3>{{ form.value | json}}</h3>